@font-face {
    font-family: 'Hand';
    src: url('fonts/handofsean/handofsean-webfont.eot');
    src: url('fonts/handofsean/handofsean-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/handofsean/handofsean-webfont.woff2') format('woff2'),
         url('fonts/handofsean/handofsean-webfont.woff') format('woff'),
         url('fonts/handofsean/handofsean-webfont.ttf') format('truetype'),
         url('fonts/handofsean/handofsean-webfont.svg#handofseanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* GENERAL */

*::-moz-selection {
	background-color: #0BDD0B;
}
h1, h2, h3, h4, h5, h6 {
	color: #0BDD0B;
}
a {
	color: #0BDD0B;
}
a:hover {
	color: #0cb20c;
}

/* NAVBAR */

.navbar-default {
	padding: 15px 0;
}
.navbar-brand {
	background: url("../img/reubica.me-brand.svg") no-repeat;
	width: 260px;
	height: 90px;
	padding: 0;
	text-indent: -9999px;
}
.navbar-nav {
	margin-top: 22px;
}
.navbar-default .navbar-toggle {
	background-color: #0BDD0B;
	margin: 18px 15px;
	border: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #0cb20c;
}

/* HEADER */

header {
	background-image: url("../img/containers.jpg");
} 
header .intro-text .intro-lead-in {
	font-family: "Hand";
	font-style: normal;
	font-size: 54px;
	letter-spacing: 0.03em;
	color: #0ADB0A;
}
section h3.section-subheading {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
}
.btn-xl,
.btn-xl:focus,
.navbar-default .navbar-nav > .active > a {
	background-color: #0BDD0B;
	border: 0;
}
.btn-xl:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #0cb20c;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
	color: #0BDD0B;
}

/* SECTION */

section h2.section-heading,
.service-heading {
	font-family: "Hand";
	font-style: normal;
	font-size: 42px;
	letter-spacing: 0.03em;
	color: #0ADB0A;
}
.service-heading {
	font-size: 21px;
}
.text-primary {
	color: #0BDD0B;
}
.timeline > li .timeline-image {
	background-color: #0BDD0B;
}
.timeline > li .timeline-image h4 {
	color: #fff;
}

ul.social-buttons li a {
	background-color: #0BDD0B;
	color: #fff;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus {
	background-color: #0cb20c;	
}
.text-muted {
	font-family: "Open Sans";
	font-weight: 300;
	line-height: 1.3;
}

@media screen and (max-width: 640px) {
	
	.navbar-default .navbar-brand {
		background-size: 200px 69px;
		width: 200px;
		height: 69px;
		margin-left: 15px;
	}
	header .intro-text {
		padding-top: 150px;
	}
	header .intro-text .intro-lead-in {
		font-size: 36px;
	}
	section h2.section-heading {
		font-size: 34px;
	}
	.service-heading {
		font-size: 24px;
	}
	.text-muted {
		padding: 0 30px;
		font-size: 18px;
	}
	#services .row.text-center .col-md-4 {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 640px) {
	
	section h2.section-heading {
		line-height: 1.5;
	}	
}

@media screen and (max-width: 360px) {
	
	header .intro-text .intro-lead-in {
		padding: 0 10px;
		line-height: 1.2;
	}
	.service-heading {
		line-height: 1.4;
	}
}

@media screen and (max-width: 320px) {
	
	section h2.section-heading {
		font-size: 32px;
	}
	.text-muted {
		padding: 0 10px;
	}
	
}





